<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Create a New Student</h1>
   <form action="/create_student" method="POST">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="first_name"/></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" name="last_name"/></td>
            </tr>
            <tr>
                <td>Grade:</td>
                <td>
                    <select name="grade">
                        <option th:each="grade: ${Grades}"
                                th:value="${grade}"
                                th:text="${grade}">Grade</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Enrolled:</td>
                <td><input type="radio" name="enrolled" value="true"/>Enrolled</td>
                <td><input type="radio" name="enrolled" value="false"/>Not Enrolled</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <button>Submit</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>